* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}

button,
li {
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    place-items: center;
}

.opt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

li {
    margin: 20px;
}

.content {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    display: grid;
    place-items: center;
}

.name {
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    background-color: black;
    border-radius: 10%;
}

.btn {
    padding: 15px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15%;
}

.btn:hover {
    color: white;
    background-color: black;
    border: 2px solid blue;
    border-radius: 10%;
}